<html lang="en" ng-app="facadu">
  <head>
    <base href="/index.html" />
    <link type="text/css" rel="stylesheet" href="static/bower_components/angular-material/angular-material.min.css">
    <link type="text/css" rel="stylesheet" href="static/bower_components/angular-datepicker/dist/index.min.css">
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="static/css/style.css">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
  </head>
  <body layout="row" ng-controller="AppCtrl as app" ng-cloak>
    <md-sidenav layout="column" class="site-sidenav md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="app.isArrowToggled()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <a href="/"><md-icon md-svg-src="md-menu"></md-icon></a>
                <span flex></span>
                <h2><span>Facadu</span></h2>
                <span flex></span>
            </div>
        </md-toolbar>
        <md-content>
            <md-button ng-repeat="menu in app.menuItems" ng-href="{{menu.url}}" ng-class="{'active' : app.currentMenu == menu}">
                {{ menu.label }}
            </md-button>
        </md-content>
    </md-sidenav>
    <div layout="column" flex>
        <md-toolbar layout="row">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button toggle-sidenav" ng-class="{'toggled': app.isArrowToggled()}"
                           ng-click="app.toggleSidenav('left')" aria-label="Menu">
                    <md-icon md-svg-src="md-tabs-arrow"></md-icon>
                </md-button>
                <span flex></span>
                <h1><span>{{ app.currentMenu.label }}</span></h1>
                <span flex></span>
                <md-fab-speed-dial md-direction="left" class="md-scale">
                    <md-fab-trigger>
                        <a ng-href="/ep">
                            <md-button aria-label="menu" class="md-fab md-raised">
                                <md-icon md-font-icon="material-icons">person</md-icon>
                            </md-button>
                        </a>
                    </md-fab-trigger>
                    <md-fab-actions>
                        <!-- Using ng-repeat inside md-fab-actions does not hide generated items -->
                        <!--<md-button ng-repeat="item in moreItems" aria-label="{{item.label}}" class="md-fab md-raised md-mini">-->
                            <!--<md-icon md-svg-src="img/icons/twitter.svg"></md-icon>-->
                            <!--<md-icon md-font-icon="material-icons">{{item.ligature}}</md-icon>-->
                        <!--</md-button>-->
                        <md-button aria-label="logout" class="md-fab md-raised md-mini">
                            <md-icon>exit_to_app</md-icon>
                        </md-button>
                        <md-button aria-label="print" class="md-fab md-raised md-mini" ng-click="app.doPrint()">
                            <md-icon>print</md-icon>
                        </md-button>
                    </md-fab-actions>
                </md-fab-speed-dial>
            </div>
        </md-toolbar>
        <md-content class="md-padding" layout="column" id="content">
            <div layout-padding ng-view></div>
        </md-content>
    </div>
    <!-- Angular Material Dependencies -->
    <script type="text/javascript" src="static/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="static/bower_components/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="static/bower_components/angular-aria/angular-aria.min.js"></script>
    <script type="text/javascript" src="static/bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="static/bower_components/angular-messages/angular-messages.min.js"></script>
    <script type="text/javascript" src="static/bower_components/angular-material/angular-material.min.js"></script>
    <script type="text/javascript" src="static/bower_components/angular-datepicker/dist/index.min.js"></script>
    <!-- Application JS file -->
    <script type="text/javascript" src="static/javascripts/facadu.core.js"></script>
    <script type="text/javascript" src="static/javascripts/facadu.core.directives.js"></script>
    <script type="text/javascript" src="static/javascripts/facadu.module.js"></script>
    <script type="text/javascript" src="static/javascripts/facadu.config.js"></script>
    <script type="text/javascript" src="static/javascripts/facadu.assets.js"></script>
    <script type="text/javascript" src="static/javascripts/calendar.directives.js"></script>
    <script type="text/javascript" src="static/javascripts/default.controller.js"></script>
    <script type="text/javascript" src="static/javascripts/calendar.controller.js"></script>
    <script type="text/javascript" src="static/javascripts/calendar.service.js"></script>
  </body>
</html>