[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}

/* backdrop fix */
md-backdrop, .md-dialog-container { position: fixed !important;}

.toggle-sidenav md-icon, .toggle-more md-icon {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}

.toggle-sidenav.toggled md-icon, .toggle-more.toggled md-icon {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

.md-sidenav-left .md-button {
    border-radius: 0;
    color: inherit;
    cursor: pointer;
    display: block;
    line-height: 40px;
    margin: 0;
    max-height: 40px;
    overflow: hidden;
    padding: 0 16px;
    text-align: left;
    text-decoration: none;
    white-space: normal;
    width: 100%;
}

.cal-row {
    width: 100%;
}

.cal-row:before, .cal-row:after {
    display: table;
    content: "";
    line-height: 0;
}

.cal-row:after {
    clear: both;
}

.cal-row:hover {
    background-color: #fafafa;
}

.cal-cell {
    min-height: 1px;
    box-sizing: border-box;
}

.cal-cell:hover {
    background-color: #ededed;
}

.cal-row .cal-cell {
    width: 14.28%;
    display: block;
    float: left;
    margin-left: 0;
}

.cal-row-head .cal-cell {
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bolder;
    text-align: center;
    border: 0;
    padding: 5px 0;
}

.cal-month-container {
    border-top: 1px solid #e1e1e1;
    border-left: 1px solid #e1e1e1;
    border-radius: 2px;
}

.cal-month-container .cal-row {
    border-bottom: 1px solid #e1e1e1;
    margin-left: 0;
    margin-right: 0;
}

.cal-month-container .cal-cell {
    min-height: 100px;
    border-right: 1px solid #e1e1e1;
    position: relative;
}

.cal-month-day {
    height: 100px;
    position: relative;
    display: block;
    width: 100%;
}

.cal-cell .day-label {
    float: right;
    font-size: 1.2em;
    font-weight: 400;
    opacity: .7;
    margin-top: 15px;
    margin-right: 15px;
}

.cal-cell .md-button.day-events-num {
    margin-left: 10px;
    margin-top: 18px;
    min-height: 0;
    width: auto;
    height: auto;
    display: inline-block;
    float: left;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 10px;
}

.event-list-container {
    max-height: 47px;
    padding-left: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.cal-cell .md-button.event-list-item {
    cursor: pointer;
    display: block;
    float: left;
    width: 12px;
    height: 12px;
    min-height: 0;
    margin: 0 2px 2px 0;
    box-shadow: inset 0 0 2px 0 rgba(0,0,0,.2);
    border-radius: 8px;
    border: 1px solid #fff;
}

/** Calendar bubble styles */
#cal-bubble {
    position: absolute;
    z-index: 1001;
    width: auto;
    max-width: 40%;
    background-color: #fff;
}
.bubble-main {
    padding: 16px 28px;
    position: relative;
}
.bubble-main .close {
    right: 0;
    top: 16px;
    position: absolute;
    width: 24px;
    height: 24px;
    min-height: 0;
}
.bubble-main .close md-icon {
    width: 100%;
    height: 100%;
}
.top-prong, .bottom-prong {
    position: absolute;
    height: 9px;
    width: 18px;
    overflow: hidden;
}
.prong-dk, .prong-lt {
    position: absolute;
    left: 0;
    top: 0;
}
.bottom-prong {
    bottom: -9px;
}
.bottom-prong .prong-dk, .bottom-prong .prong-lt {
    border-bottom-width: 0;
}
.top-prong {
    top: -9px;
}
.top-prong .prong-dk, .top-prong .prong-lt {
    border-top-width: 0;
}
.top-prong .prong-lt {
    top: 1px;
}
.prong-dk {
    border: 9px solid;
    border-color: #ccc transparent;
}
.prong-lt {
    border: 8px solid;
    border-color: #fff transparent;
    left: 1px;
}
/* end of calendar bubble styles */

/*empty quick edit start*/

.quickEditEmpty {
    height: auto;
    width: auto;
    min-height: 150px;
    max-height: 300px;
    min-width: 300px;
    max-width: 600px;

}

/*#quickEditContent > form > table,tr,td {
    margin: 10px;
    padding: 5px;
    border: 2px solid #888888;
}*/

/*empty quick edit end*/