[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* scroll lock fix - md-select sets overflow-y: scroll for no reason... */
body {
    overflow-y: auto !important;
}

md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: left;
  width: 100%;
}

/* backdrop fix */
md-backdrop, .md-dialog-container { position: fixed !important;}

md-fab-actions {
    height: auto !important;
}

.md-fab-action-item md-icon, md-fab-trigger md-icon {
    color: #000 !important;
}

.md-fab:hover, .md-fab.md-focused /*, md-fab-speed-dial.md-is-open md-fab-trigger > .md-fab */{
    background-color: #000 !important;
}

.md-fab:hover md-icon, .md-fab.md-focused md-icon {
    color: #fff !important;
}

.md-sidenav-left .md-button.active {
    background-color: rgba(158,158,158,0.2);
}

.site-sidenav, .site-sidenav.md-locked-open {
    width: 256px;
    min-width: 256px;
    max-width: 256px;
}

.toggle-sidenav md-icon, .toggle-more md-icon {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
}

.toggle-sidenav.toggled md-icon, .toggle-more.toggled md-icon {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

.md-sidenav-left .md-button {
    border-radius: 0;
    color: inherit;
    cursor: pointer;
    display: block;
    line-height: 40px;
    margin: 0;
    max-height: 40px;
    overflow: hidden;
    padding: 0 16px;
    text-align: left;
    text-decoration: none;
    white-space: normal;
    width: 100%;
}

.cal-month-container {
    border-top: 1px solid #e1e1e1;
    border-left: 1px solid #e1e1e1;
    border-radius: 2px;
}

.cal-month-day {
    height: 100%;
    border-right: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    position: relative;
    display: block;
    width: 100%;
}

.cal-month-day:hover {
    background-color: #ededed;
}

.cal-month-day .day-label {
    float: right;
    font-size: 1.2em;
    font-weight: 400;
    opacity: .7;
    margin-top: 5%;
    margin-right: 5%;
}

.cal-month-day .md-button.day-events-num {
    margin-left: 4%;
    margin-top: 4%;
    min-height: 0;
    width: auto;
    height: auto;
    display: inline-block;
    float: left;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 10px;
}

.event-list-container {
    position: absolute;
    max-height: 47px;
    padding-left: 4%;
    bottom: 2%;
    left: 0;
    overflow: hidden;
}

.cal-month-day .md-button.event-list-item {
    cursor: pointer;
    display: block;
    float: left;
    width: 12px;
    height: 12px;
    min-height: 0;
    margin: 0 2px 2px 0;
    box-shadow: inset 0 0 2px 0 rgba(0,0,0,.2);
    border-radius: 8px;
    border: 1px solid #fff;
    transition: opacity linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
}

.cal-toolbar form {
    margin: 0 40px 0 0;
}

.cal-toolbar md-input-container.search {
    padding: 0;
}

.cal-toolbar md-input-container.search md-icon, .cal-toolbar md-input-container.search input{
    color: #fff;
    border-color: #fff;
}

.md-button.next, .md-button.previous {
    margin: 0;
}

.picker-container {
    position: absolute;
    top: 36px;
    right: -48px;
    width: 200px;
}

/** Calendar bubble styles */
#cal-bubble {
    position: absolute;
    z-index: 1001;
    width: auto;
    max-width: 70%;
    background-color: #fff;
}
.bubble-main {
    padding: 0;
    position: relative;
}
.bubble-main .close {
    right: 0;
    top: 16px;
    position: absolute;
    width: 24px;
    height: 24px;
    min-height: 0;
    z-index: 2;
}
.bubble-main .close md-icon {
    width: 100%;
    height: 100%;
    color: white;
}
.top-prong, .bottom-prong {
    position: absolute;
    height: 9px;
    width: 18px;
    overflow: hidden;
}
.prong-dk, .prong-lt {
    position: absolute;
    left: 0;
    top: 0;
}
.bottom-prong {
    bottom: -9px;
}
.bottom-prong .prong-dk, .bottom-prong .prong-lt {
    border-bottom-width: 0;
}
.top-prong {
    top: -9px;
}
.top-prong .prong-dk, .top-prong .prong-lt {
    border-top-width: 0;
}
.top-prong .prong-lt {
    top: 1px;
}
.prong-dk {
    border: 9px solid;
    border-color: #ccc transparent;
}
.prong-lt {
    border: 8px solid;
    border-color: #fff transparent;
    left: 1px;
}
/* end of calendar bubble styles */

/*empty quick edit start*/

.quickEditEmpty {
    width: auto;
    min-width: 300px;
}

/* Print styles */
@media print {
    md-sidenav, .content-toolbar, md-fab-speed-dial {
        display: none !important;
    }
}