<div ng-include="app.paths.templates + 'calendarToolbar.html'" class="content-toolbar"></div>
<div layout-padding>
    <!--<div class="cal-row cal-row-head">-->
        <!--<div class="cal-cell" ng-repeat="day in vm.weekDays">{{day}}</div>-->
    <!--</div>-->
    <md-grid-list md-cols="7" md-row-height="30px">
        <md-grid-tile ng-repeat="name in vm.weekDays">{{name}}</md-grid-tile>
    </md-grid-list>
    <md-grid-list md-cols="7" md-row-height="11:5" md-row-height-md="3:2" md-row-height-sm="3:2"  md-gutter="0" class="cal-month-container">
        <md-grid-tile ng-repeat="day in vm.calDays">
            <div class="cal-month-day" ng-click="vm.clickedDay($event, day)">
                <md-button ng-click="vm.clickedEventBadge($event, day)" class="day-events-num md-fab md-accent" ng-hide="day.events.length === 0">
                    {{day.events.length}}
                </md-button>
                <span class="day-label">{{day.date.getDate()}}</span>
                <div class="event-list-container">
                    <md-button ng-repeat="event in day.events | filter: vm.calSearch" class="event-list-item animate-repeat md-fab md-primary" aria-label="event">
                        <md-tooltip md-direction="top">{{event.title}}</md-tooltip>
                    </md-button>
                </div>
            </div>
        </md-grid-tile>
    </md-grid-list>
</div>