<div class="quickEditEmpty" layout="column">
    <md-toolbar class="md-primary">
        <h1 class="md-toolbar-tools">Quick edit event</h1>
    </md-toolbar>
    <md-content layout-padding>
        <form name="quickEditForm">
            <div layout>
                <md-input-container>
                    <label>From</label>
                    <input type="datetime-local" ng-model="newEvent.from"/>
                </md-input-container>
                <md-input-container>
                    <label>To</label>
                    <input type="datetime-local" ng-model="newEvent.from"/>
                </md-input-container>
            </div>
            <md-input-container>
                <label>Title</label>
                <input ng-model="newEvent.title"/>
            </md-input-container>
            <md-input-container>
                <label>Description</label>
                <textarea ng-model="newEvent.description" maxlength="150"></textarea>
            </md-input-container>
        </form>
    </md-content>
</div>