<div ng-switch on="currentMenu.type">
    <div class="animate-switch" ng-switch-when="calendar">
        <md-toolbar class="cal-toolbar md-primary md-hue-1">
            <div class="md-toolbar-tools" layout="row">
                <section>
                    <md-button class="md-raised md-hue-1">CREATE</md-button>
                </section>
                <section layout="row" layout-align="end center" flex>
                    <form name="searchForm" novalidate>
                        <md-input-container md-no-float class="search">
                            <md-icon>search</md-icon>
                            <input type="text" ng-model="calSearch"/>
                        </md-input-container>
                    </form>
                    <md-select ng-model="calMonth">
                        <md-option ng-repeat="month in months">{{month}}</md-option>
                    </md-select>
                    <md-button class="previous md-icon-button" title="Previous">
                        <md-icon>chevron_left</md-icon>
                    </md-button>
                    <md-button class="next md-icon-button" title="Next">
                        <md-icon>chevron_right</md-icon>
                    </md-button>
                </section>
            </div>
        </md-toolbar>
    </div>
    <div class="animate-switch" ng-switch-default>Default toolbar</div>
</div>